<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
          School of Software, College of Software and Convergence<br/>
		  807 Saebit Hall, Kwangwoon University<br/>
		  20 Kwangwoon-ro, Nowon-gu<br/>
		  Seoul, Republic of Korea<br/>
            <a href="https://goo.gl/maps/psHZk64XeaTXz42p7"><i class="material-icons" style="font-size:20px">place</i>Google Maps</a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
